BlogPosts.dtd


<!DOCTYPE BlogPosts [
<!ELEMENT BlogPosts (BlogPost)+>
<!ELEMENT BlogPost (date, topic, title, author, content, scripture, prayer?)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT topic (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT content (#PCDATA)>
<!ELEMENT scripture (#PCDATA)>
<!ELEMENT prayer (#PCDATA)>
]>
